* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: azure;
}
.list {
  display: flex;
  justify-content: space-around;
}
.todo {
  border: solid 1px black;
}
.doing {
  border: solid 1px black;
}
.done {
  border: solid 1px black;
}
